<div class="text-center mt-5">
    <h1>Ajouter un aliment</h1>
  </div>
  
  <div class="container d-flex justify-content-center mt-4">
    <form class="col-lg-4 aligns-item-center px-3 py-3">
      <div class="form-group mb-3">
        <mat-form-field class="custom-form-field">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Entrez le nom de l'aliment">
        </mat-form-field>
      </div>
      <div class="form-group mb-3">
        <mat-form-field class="custom-form-field">
          <mat-label>Calories</mat-label>
          <input matInput placeholder="Entrez le nombre de calories">
        </mat-form-field>
      </div>
      <div class="form-group mb-3">
        <mat-form-field class="custom-form-field">
          <mat-label>Lipides</mat-label>
          <input matInput placeholder="Entrez le nombre de lipides">
        </mat-form-field>
      </div>
      <div class="form-group mb-3">
        <mat-form-field class="custom-form-field">
          <mat-label>Glucides</mat-label>
          <input matInput placeholder="Entrez le nombre de glucides">
        </mat-form-field>
      </div>
      <div class="form-group mb-3">
        <mat-form-field class="custom-form-field">
          <mat-label>Protéines</mat-label>
          <input matInput placeholder="Entrez le nombre de protéines">
        </mat-form-field>
      </div>
      <div class="text-center">
          <button mat-raised-button color="primary">Ajouter</button>
      </div>
    </form>
  </div>
  
