<div class="text-center mt-5">
  <h1>Page de connexion</h1>
</div>

<div class="container d-flex justify-content-center mt-4">
  <form class="col-lg-4 aligns-item-center px-3 py-3">
    <div class="form-group mb-3">
      <mat-form-field class="custom-form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Entrez votre adresse email">
      </mat-form-field>
    </div>
    <div class="form-group mb-3">
      <mat-form-field class="custom-form-field">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="Entrez votre mot de passe">
      </mat-form-field>
    </div>
    <div class="text-center">
        <button mat-raised-button color="primary">Se connecter</button>
    </div>
  </form>
</div>
