<div class="container">
  <a *ngIf="jwt" mat-raised-button color="primary" routerLink="/ajout-aliment">
    Ajouter un aliment
  </a>

  <div class="row">
    <div *ngFor="let aliment of listeAliment" class="col-6">
      <mat-card class="mt-4">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{ aliment.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ aliment.calories }} <br>
            {{ aliment.lipids }} <br>
            {{ aliment.carbohydrate }} <br>
            {{ aliment.proteins }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a
            *ngIf="jwt"
            mat-button
            color="primary"
            [routerLink]="['/modifier-aliment', aliment._id]"
            >Modifier</a
          >
          <button
            *ngIf="jwt"
            mat-button
            color="warn"
            (click)="onSupprimerArticle(aliment._id)"
          >
            Supprimer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
